

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets2/css/stylesheet.css">
    <link rel="stylesheet" href="/assets2/css/style.css">
    <link rel="shortcut icon" href="/assets/images/logo/bq.png" type="image/x-icon"> 
    <title>Beauty Queen Login Page</title>
</head>
<body>
    <div class="p-of-page"></div>
    
    <div class="p-login-sec">
        <div class="container">
            <div class="login-sec">
                <div class="cont-media">
                    <div class="p-logo">
                        <img class="logo" src="/assets/images/logo/logo.jpg" alt="SEO" width="300px" height="100px">
                    </div>
                    <div class="p-form">
                        {{#if message}}
    <p style="color: red;">{{message}}</p>
  {{/if}}

                        <form class="form" action="/verify-otp" method="POST">
                            <input class="e-mail-inpt" type="email" name="email" id="email" value="{{email}}">
                            <br>
                            <br>
                            <input type="text" name="otp" placeholder="Enter OTP" required>
                          
                         <br><br>
                           
                            <input class="submit" type="submit" value="Verify">
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="/assets2/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/assets2/js/popper.min.js"></script>
    <script src="/assets2/js/bootstrap.min.js"></script>
    <script src="/assets2/js/script.js"></script>
</body>
</html>
